{% extends 'base.html' %}

{% block head %}
<title>HomeExperts - Contul meu</title>
{% endblock %}

{% block body %}
<center>
    <h1>Contul meu</h1>
</center>
<center>
    <div class ="meniu">
        <nav>
            <ul>
                <li>Contul Meu</li>
                <li><a href="/main/cumpara"> Plaseaza o comanda </a></li>   
                <li><a href="/main/comenzi"> Comenzile mele </a></li>   
                <li><a href="/main/logout"> Deconecteaza-ma </a></li>   

            </ul>
        </nav>
    </div>
    <center>
        <p>#CLIENT#</p>
    </center>
    <div class="detalii_cont">
        <table>
            <tr style="background-color:#f0f0f0">
                <th class="nume_camp">Nume: </th>
                <th class="continut_camp"> {{ DETALII_CONT[1] }}</th>
            </tr>
            <tr>
                <th class="nume_camp">Preume: </th>
                <th class="continut_camp"> {{ DETALII_CONT[2] }}</th>
            </tr>
            <tr style="background-color:#f0f0f0">
                <th class="nume_camp">Email: </th>
                <th class="continut_camp"> {{ DETALII_CONT[3] }}</th>
            </tr>
            <tr >
                <th class="nume_camp">Sex: </th>
                <th class="continut_camp"> {{ DETALII_CONT[5] }}</th>
            </tr>
            <tr style="background-color:#f0f0f0">
                <th class="nume_camp">Adresa: </th>
                <th class="continut_camp"> {{ DETALII_CONT[6] }}</th>
            </tr>
            <tr>
                <th class="nume_camp">Serviciu Preferat: </th>
                <th class="continut_camp"> {{ SERVICIU_PREF }}</th>
            </tr>
        </table>
        <ul>
            <li><a href="/main/cont/editeaza"> Editeaza </a></li>
            <li><a href="/main/cont/chpass"> Schimba parola </a></li>   
        </ul>
    </div>
</center>
{% endblock %}